{% load static %}

<div class="block">
	<div class="navbar is-light">
		<div class="navbar-brand">
			<div class="navbar-item">
				<a><img src="{% static 'images/gaana_logo.jpeg' %}"></a>
			</div>
		</div>

		<div class="navbar-menu">
			<div class="navbar-start">
				<div class="navbar-item">
					<form>
						<input type="text" name="" class="input" placeholder="search">
					</form>
				</div>

				<div class="navbar-item">
					<a href="{% url 'browse_songs_home' %}">Browse</a>
				</div>

				<div class="navbar-item">
					<a href="">My Music</a>
				</div>
			</div>

			<div class="navbar-end">
				{% if not user_logged_in %}
					<div class="navbar-item">
						<a href="{% url 'login' %}">Login</a>
					</div>
					<div class="navbar-item">
						<a href="{% url 'register' %}">Register</a>
					</div>
				{% endif %}

				{% if user_logged_in %}
					<div class="navbar-item">
						<a href="{% url 'logout' %}">Logout</a>
					</div>
				{% endif %}
			</div>

		</div>
	</div>
</div>
